@import "tailwindcss";

@theme {
  --color-primary-50: #eef1ff;
  --color-primary-100: #dfe5ff;
  --color-primary-300: #8f9cff;
  --color-primary-400: #4f5cff;
  --color-primary-500: #0F18BF;
  --color-primary-600: #0c14a1;
  --color-primary-700: #091081;

  --color-secondary: #141873;

  --color-dark: #010326;
  --color-light: #F2F2F2;

  --color-gray-custom: #3F403B;
}